doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title 멤버십
    link(rel='stylesheet', href='/stylesheets/common.css')
  body
    header
      nav
        a#link-login(href='/login') 로그인
        a#link-signup(href='/signup') 회원가입
        a#link-logout.unshow(href='/') 로그아웃
    main
      block content
    footer © 2019 Copyright by 2ssue.
    script(src='./javascripts/index.js')