@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

html {
  background-color: var(--background-color);
  font-size: 16px;
  --background-color: #ebe9e9;
  --main-color: #2ab162;
  --input-height: 50px;
  --default-space: 10px;
}

.fixedscroll {
  overflow: hidden;
}

.scrollable {
  overflow: auto;
}

.show-inline {
  display: inline;
}

.unshow {
  display: none;
}

body {
  display: flex;
  flex-flow: column wrap;
  font-family: "Noto Sans KR";
  margin: auto;
}

h1 {
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  font-size: 3em;
  margin: var(--default-space);
}

h2 {
  text-align: center;
}

header {
  padding: var(--default-space);
  border-bottom: 1px solid var(--main-color);
}

header nav {
  text-align: right;
}

header nav a {
  color: gray;
  margin-left: 5px;
  text-decoration: none;
}

header nav a:hover {
  color: black;
  cursor: pointer;
}

main {
  width: 450px;
  margin: auto;
  padding: var(--default-space);
  margin-bottom: 100px;
}

main div {
  margin-bottom: var(--default-space);
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
  width: -webkit-fill-available;
  height: var(--input-height);
  padding: 0 0 0 var(--default-space);
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

.loginbox {
  border-radius: 5px;
  background-color: white;
  padding: var(--default-space);
  text-align: center;
}

input[type="checkbox"] {
  vertical-align: text-bottom;
}

button {
  border-radius: 5px;
  background-color: var(--main-color);
  border: none;
  color: white;
  font-weight: bold;
  height: var(--input-height);
  width: -webkit-fill-available;
  font-size: 1.1em;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container * {
  flex: 0.48;
}

.birth {
  display: flex;
  justify-content: space-between;
}

.birth * {
  flex: 0.32;
  min-width: 100px;
}

footer {
  color: white;
  padding: var(--default-space);
  background-color: var(--main-color);
  width: 100%;
  position: fixed;
  bottom: 0;
}
